# node_modules
# # Keep environment variables out of version control
# .env

# /generated/prisma
# # /prisma/generated

# dist/
# .env
# .env.local
# # .prisma/client
# uploads/*
# !uploads/.gitkeep
# *.log
# # .prisma
# # .vscode
# # .DS_Store


node_modules
# Keep environment variables out of version control
.env

/generated/prisma

.vercel

dist/
.env
.env.local
uploads/*
!uploads/.gitkeep
*.log